﻿body {
}


#containner_tabela {
    width: 100%;
    height: 600px !important;
    overflow: auto;
}

#tabela {
    
}

.btn-outline-info:hover{
    color: white !important;
}

.title_busca{
    text-align: center;
    width:100%;
}

#containner-busca {
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 8px 15px #333;
}

th {
    position: sticky;
    top: 0;
    background: #17a2b8;
    color: white;
}